.mosquito1{
	height: 45px;
	width: 45px;
}
.mosquito2{
	height: 72px;
	width: 72px;
}
.mosquito3{
	height: 100px;
	width: 100px;
}

.ladoA{
	transform: scaleX(1);
}

.ladoB{
	transform: scaleX(-1);
}
.painel{
	position: absolute;
	width: 190px;
	padding: 10px;
	left: 0px;
	bottom: 0px;
	border-top: solid 1px #fff;
	background-color: #fff;
	opacity: 0.7;
}
.vidas{
	float: left;
}
.cronometro{
	float: left;
	font-size: 20px;
	font-weight: bold;
}

body{
	background-image: url(imagens/bg.jpg);
	background-repeat: no-repeat ;
	background-size: 100%;
}
html{
	cursor: url(imagens/mata_mosquito.png) 30 30, auto;
}